* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  background: #f5f3f7;
}

/**Phone**/
.phone {
  max-width: 300px;
  min-width: 250px;
  border: 10px solid white;
  border-radius: 30px;
  margin: auto;
  margin-block: 50px;
  background: #f5f3f7;
  /**Header**/
  /**Chat**/
}

.phone header {
  background-image: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background-image: linear-gradient(to right, #8838ff, #e942ff);
  border-radius: 20px 20px 5px 5px;
  padding-bottom: 5px;
}

.phone header .name {
  color: white;
  padding-top: 8px;
  padding-bottom: 2px;
}

.phone header .sub-text {
  font-size: 11px;
  padding-bottom: 8px;
  color: #d89eff;
}

.phone header p {
  margin-left: 10px;
}

.phone header .notch {
  background: white;
  height: 20px;
  width: 60%;
  border-radius: 0 0 15px 15px;
  margin: auto;
}

.phone header img {
  width: 31px;
  border-radius: 50%;
  float: left;
  margin: 10px;
  border: solid white;
}

.phone .convo {
  padding: 10px;
  border-radius: 15px 15px 15px 5px;
  margin: 10px 5px;
  max-width: 60%;
}

.phone .convo-left {
  color: #9c5ec5;
  background: #dbc7ea;
}

.phone #pics img {
  width: 60px;
  border-radius: 10px;
  margin: 0 5px;
}

.phone #pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.phone .convo-right {
  color: #6e5d7e;
  background: white;
  border-radius: 15px 15px 5px 15px;
  margin-left: auto;
}

.phone .convo-choice {
  border-radius: 15px 15px 15px 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: white;
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
}

.phone .convo-choice .circle {
  display: inline-block;
  border: 1px solid #d89eff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.phone .convo-choice .strong {
  font-weight: 700;
  font-size: 18px;
  margin-right: 5px;
  margin-left: auto;
}

.phone .convo-choice .text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-inline: 10px;
}

.phone #choice-1,
.phone #choice-2 {
  background: -webkit-gradient(linear, right top, left top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to left, #8838ff, #e942ff);
}

.phone .text-input {
  padding: 5px 10px;
  background: white;
  border-radius: 30px;
  color: #c6cacd;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone .text-input .sub-text {
  font-size: 12px;
  margin-left: 10px;
}

.phone .text-input #button {
  margin-left: auto;
  background: #3e2753;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 700;
}

.info h1 {
  text-align: center;
  font-size: 30px;
  color: #3e2753;
  padding-bottom: 20px;
}

.info p {
  margin-inline: 40px;
  text-align: center;
  font-size: 14px;
  color: #a39daa;
  line-height: 1.5rem;
  padding-bottom: 40px;
}

/**Background elements**/
#bg-element-1 {
  height: 600px;
  width: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
  background: linear-gradient(#e942ff, #8838ff);
  border-radius: 0 0 200px 200px;
  position: absolute;
  z-index: -1;
  left: -200px;
  top: 0;
}

/**Media Queries**/
/**iPad-vertical**/
@media (min-width: 700px) {
  body {
    overflow: hidden;
    margin-block: 200px;
  }
  .info {
    min-width: 440px;
    position: absolute;
    left: 380px;
    bottom: 500px;
  }
  .info h1 {
    text-align: start;
  }
  .info p {
    text-align: start;
    margin-left: 0;
  }
  .phone {
    margin-left: 50px;
  }
}

/**iPad-horizontal**/
@media (min-width: 1024px) {
  body {
    margin: auto;
  }
  .phone {
    margin-left: 100px;
  }
  .info {
    width: 400px;
    position: absolute;
    left: 500px;
    bottom: 350px;
  }
  .info h1 {
    text-align: start;
  }
  .info p {
    text-align: start;
    margin-left: 0;
  }
  .bg-element {
    width: 32.4%;
    height: 95%;
    position: absolute;
  }
  #bg-element-2 {
    background: #dbdfe1;
    bottom: -200px;
    height: 900px;
    right: -150px;
    border-radius: 200px 200px 0 0;
    z-index: -1;
  }
}

/**720p HD TV**/
@media (min-width: 1280px) {
  body {
    overflow: hidden;
    margin-left: 200px;
  }
  .info {
    left: 680px;
  }
  .phone {
    position: absolute;
    z-index: 1;
  }
  .bg-element {
    width: 32.4%;
    height: 95%;
    position: absolute;
  }
  #bg-element-1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#e942ff), to(#8838ff));
    background: linear-gradient(#e942ff, #8838ff);
    left: -50px;
    z-index: -1;
    border-radius: 0 0 200px 200px;
  }
  #bg-element-2 {
    height: 870px;
  }
}
/*# sourceMappingURL=style.css.map */